
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFF;
    color:rgb(255, 255, 255) ;
    margin: 0;
    padding: 0;
    background-image: url('images/css1.png');
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    color: white;
    text-align: center;
}
p{
    text-align: center;
    margin: 100px 0;

}
h3{
    text-align: center;;
}
.div1{
    background-color: rgba(0, 0, 0, .6);
    padding: 10px;
    text-align: center;
    font-size: medium;
    border: solid 5px rgb(28, 92, 254);
    margin: 10px 50px;
}
h2{
    text-align: center;
}
.div2{
    background-color: rgba(0, 0, 0, .8);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: medium;
    border: solid 5px rgb(133, 28, 254);
    margin: 10px 50px;
}
li{
    list-style-type: none;
}
button{
    color:azure;
    padding: 20px;
    border-radius: 10px;
    border: solid 5px rgb(133, 28, 254);
    text-align: center;
    background-color: rgb(77, 74, 74);
    margin: 10px 10px 20px;
}
img{
    margin-left: auto;
    margin-top: 15px;
}
.galeria{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 3px 5px;
    text-align: center;
    font-size: medium;
    border: solid 5px rgb(28, 81, 254);
    margin: 10px 50px;
}
.galeria p{
    background-color: rgb(0, 0, 0);
    padding: 3px 5px;
    border-radius: 15px;
    text-align: center;
    font-size: medium;
    border: solid 3px rgb(164, 56, 236);
    margin: 10px 50px;
}